.action-button {
    margin-right: 5px;
    background-color: #007bff;
    color: #fff; 
    border: none;
    padding: 12px 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative; 
  }
  
  .action-button i {
    position: absolute; 
    top: 50%; 
    left: 13px; 
    transform: translateY(-50%);
  }
  
  .action-button.edit i {
    color: #007bff;
    background-color: #fff; 
    border-radius: 50%; 
    padding: 5px; 
  }

  .btn-primary{
    margin-right: 5px;
    background-color: #007bff;
    color: #fff; 
    border: none;
    padding: 12px 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative; 
  }