body {
    font-family: "Roboto", Arial, sans-serif; 
    background-color: #df1212;
    margin: 0;
    padding: 0;
}

.container {
    font-family: sans-serif;
    min-width: 500px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 500px) {
    .container {
      min-width: 90%;
    }
  }

.form-text-new{
    font-family: sans-serif;
    font-size: 12px;
    padding: 8px;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    font-family: sans-serif;
    margin-bottom: 15px;
}

label {
    font-family: sans-serif;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    font-family: sans-serif;
    font-size: large;
    width: 97%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.btn {
    font-family: sans-serif;
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-link {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
}

.btn-link:hover {
    text-decoration: underline;
}