<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center">Sign Up</h1>
      <form [formGroup]="userForm" (ngSubmit)="signup()" class="mt-4">
        <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="email" id="email" formControlName="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="user">Usuário:</label>
          <input type="text" id="user" formControlName="user" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">Senha:</label>
          <input type="password" id="password" formControlName="password" class="form-control" required minlength="8">
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirmação de Senha:</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" required>
        </div>
        <div>
          <h2></h2>
        </div>
        <div class="text-center">
        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
