<div class="table-container">
  <table class="task-table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Descrição</th>
        <th>Ação</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td [ngStyle]="{'text-decoration': task.taskaction ? 'line-through' : 'none'}">
          {{ task.tasktitle }}
        </td>
        <td>
          {{ task.taskdescription }}
        </td>
        <td>
          <button class="action-button" (click)="toogleDone(task)">
            {{ task.taskaction ? 'Desfazer' : 'Concluir' }}
          </button>
        </td>
        <td>
          {{ task.username || '' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
