<div class="container-fluid">
    <div class="row align-items-center text-center full-height">
        <div class="col">
            <h1>Bem-vindo à sua aplicação</h1>
            <h2>Está logado</h2>
        </div>
    </div>
</div>
<div>
    <h3>Stats</h3>
    <p>Quantidade de usuários: {{ lengthusers.length }}</p>
</div>
<div>
    <h2></h2>
</div>
<div>
    <p>Quantidade de usuários por função</p>
    <table>
        <thead>
          <tr>
            <th>Função</th>
            <th>Quantidade de Usuários</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of roleusers | keyvalue">
            <td>{{ entry.key }}</td>
            <td>{{ entry.value }}</td>
          </tr>
        </tbody>
      </table>      
</div>